### Chicago Taxi Trips Data Cleaning

In [2]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from IPython.display import display
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# import Taxi Trip data from CSV into DataFrame
cache = {}

def cached_date_parser(s):
    if s in cache:
        return cache[s]
    dt = pd.to_datetime(s)
    cache[s] = dt
    return dt

df_csv =  pd.read_csv("Taxi_Trips_-_2021.csv", parse_dates=[2,3] , infer_datetime_format=True, date_parser=cached_date_parser)

### Inspection

In [4]:
## inspection
display(df_csv.head())
df_csv.info()
### numbers
display(df_csv.describe())

### checking anomalies for numbers
print("Trip Seconds 99th = ",df_csv['Trip Seconds'].quantile(q=0.99),", 100th = ",df_csv['Trip Seconds'].quantile(q=1))
print("Trip Miles 99th = ",df_csv['Trip Miles'].quantile(q=0.99),", 100th = ",df_csv['Trip Miles'].quantile(q=1))
print("Trip Total 99th = ",df_csv['Trip Total'].quantile(q=0.99),", 100th = ",df_csv['Trip Total'].quantile(q=1))

### string
display(df_csv.describe(include = ['O']))
### null values
display(df_csv.isnull().sum())

## unique values in string data
display(sorted(df_csv['Payment Type'].unique()))
display(df_csv['Payment Type'].value_counts())
display(sorted(df_csv['Company'].unique()))
display(df_csv['Company'].value_counts())

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,02fc5d8c3e8525a49b7514bd6c2b3301c2d6aa79,7e179f8ef66ae99ec2d1ec89224e0b7ee5469fe5627f6d...,2021-01-01,2021-01-01 00:15:00,"1,021.00",3.17,nan,nan,nan,4.00,...,0.00,13.25,Cash,Flash Cab,nan,nan,NaN,41.98,-87.69,POINT (-87.6875155152 41.9751709433)
1,33eb5c7a1439ac1e3ec6d1520e21db8137d1d11b,2c508057a94474215bdea7b101edad0dc911ef61bb99e6...,2021-01-01,2021-01-01 15:30:00,"56,047.00",7.10,nan,nan,56.00,nan,...,6.50,27.00,Cash,Flash Cab,41.79,-87.77,POINT (-87.7696154528 41.7925923603),nan,nan,NaN
2,4bcfcfa78f372b705214ee2cba9c765ad6ba5161,31261f6e7fc645eff98c7964c7ea71a0ea7e387a6bd7f8...,2021-01-01,2021-01-01 00:00:00,120.00,0.10,nan,nan,8.00,8.00,...,1.00,4.50,Cash,Taxi Affiliation Services,41.90,-87.63,POINT (-87.6333080367 41.899602111),41.90,-87.63,POINT (-87.6333080367 41.899602111)
3,655bbd9bcb0a78ee003e304ebbe350b21cdd7083,f6138aa35e1fb074eb79fbe29f512b6153dca3593d8cd2...,2021-01-01,2021-01-01 00:00:00,0.00,0.00,nan,nan,67.00,67.00,...,0.00,3.25,Cash,"Taxicab Insurance Agency, LLC",41.78,-87.67,POINT (-87.6665962653 41.7759288274),41.78,-87.67,POINT (-87.6665962653 41.7759288274)
4,7b7b8108de94a518607068a7369ceea1ab2ae924,2c508057a94474215bdea7b101edad0dc911ef61bb99e6...,2021-01-01,2021-01-01 00:00:00,50.00,0.38,nan,nan,60.00,31.00,...,0.00,4.00,Cash,Flash Cab,41.84,-87.65,POINT (-87.6487879519 41.8361501547),41.85,-87.67,POINT (-87.667569312 41.8502663663)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148174 entries, 0 to 2148173
Data columns (total 23 columns):
Trip ID                       object
Taxi ID                       object
Trip Start Timestamp          datetime64[ns]
Trip End Timestamp            datetime64[ns]
Trip Seconds                  float64
Trip Miles                    float64
Pickup Census Tract           float64
Dropoff Census Tract          float64
Pickup Community Area         float64
Dropoff Community Area        float64
Fare                          float64
Tips                          float64
Tolls                         float64
Extras                        float64
Trip Total                    float64
Payment Type                  object
Company                       object
Pickup Centroid Latitude      float64
Pickup Centroid Longitude     float64
Pickup Centroid Location      object
Dropoff Centroid Latitude     float64
Dropoff Centroid Longitude    float64
Dropoff Centroid  Location    object
dtypes: datetime64[ns](2), float64(15), object(6)
memory usage: 377.0+ MB

,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,Tips,Tolls,Extras,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude
count,"2,147,227.00","2,147,899.00","478,730.00","466,153.00","1,977,168.00","1,875,194.00","2,147,950.00","2,147,950.00","2,147,950.00","2,147,950.00","2,147,950.00","1,977,826.00","1,977,826.00","1,883,736.00","1,883,736.00"
mean,"1,150.88",5.72,"17,031,467,870.40","17,031,391,470.96",32.29,25.85,21.07,1.77,0.00,2.04,24.98,41.89,-87.69,41.89,-87.66
std,"1,970.72",11.02,"375,065.14","338,968.19",25.21,21.02,74.00,3.54,0.57,31.43,81.27,0.07,0.10,0.06,0.07
min,0.00,0.00,"17,031,010,100.00","17,031,010,100.00",1.00,1.00,0.00,0.00,0.00,0.00,0.00,41.66,-87.91,41.66,-87.91
25%,420.00,0.65,"17,031,081,500.00","17,031,081,403.00",8.00,8.00,7.25,0.00,0.00,0.00,8.75,41.87,-87.70,41.87,-87.66
50%,840.00,2.45,"17,031,320,100.00","17,031,320,100.00",28.00,24.00,14.00,0.00,0.00,0.00,16.50,41.90,-87.64,41.90,-87.64
75%,"1,560.00",9.83,"17,031,843,100.00","17,031,838,200.00",49.00,33.00,30.25,2.05,0.00,1.00,32.00,41.94,-87.63,41.92,-87.63
max,"86,382.00","3,430.53","17,031,980,100.00","17,031,980,100.00",77.00,77.00,"9,900.25",350.00,741.00,"8,255.56","9,975.25",42.02,-87.53,42.02,-87.53

Trip Seconds 99th =  4080.0 , 100th =  86382.0
Trip Miles 99th =  27.3 , 100th =  3430.53
Trip Total 99th =  94.3 , 100th =  9975.25

,Trip ID,Taxi ID,Payment Type,Company,Pickup Centroid Location,Dropoff Centroid Location
count,2148174,2148009,2148174,2148174,1977826,1883736
unique,2148174,1873,8,37,481,551
top,3acc1cf79cfd2d22e693ce2b35c54d987acb29b7,8a8b7ea6cf38ddad449d266d38a1c10cf326e0e06f3e7c...,Cash,Flash Cab,POINT (-87.6333080367 41.899602111),POINT (-87.6333080367 41.899602111)
freq,1,6677,918532,658613,300527,259059

Trip ID                             0
Taxi ID                           165
Trip Start Timestamp                0
Trip End Timestamp                406
Trip Seconds                      947
Trip Miles                        275
Pickup Census Tract           1669444
Dropoff Census Tract          1682021
Pickup Community Area          171006
Dropoff Community Area         272980
Fare                              224
Tips                              224
Tolls                             224
Extras                            224
Trip Total                        224
Payment Type                        0
Company                             0
Pickup Centroid Latitude       170348
Pickup Centroid Longitude      170348
Pickup Centroid Location       170348
Dropoff Centroid Latitude      264438
Dropoff Centroid Longitude     264438
Dropoff Centroid  Location     264438
dtype: int64

### Cleaning

In [6]:
## cleaning
def cleanData(raw_data,verbose = False):
    
    ### drop rows with null values from critical columns
    df_no_null = raw_data[(raw_data['Taxi ID'].notnull()) & (raw_data['Trip Seconds'].notnull()) & (raw_data['Trip Miles'].notnull()) & (raw_data['Trip Total'].notnull())]
    if(verbose): 
        print("Total rows dropped to remove null = ", (raw_data.shape[0]-df_no_null.shape[0]), "(% = ", 100.0*(raw_data.shape[0]-df_no_null.shape[0])/raw_data.shape[0],")")

    ### drop rows with duration > 3 hrs, distance > 100 miles and total fare > $500
    df_no_large = df_no_null[(df_no_null['Trip Seconds'] < 10800) & (df_no_null['Trip Miles'] < 100) & (df_no_null['Trip Total'] < 500)]
    if(verbose): 
        print("Total rows dropped to remove large numbers = ", (df_no_null.shape[0]-df_no_large.shape[0]), "(% = ", 100.0*(df_no_null.shape[0]-df_no_large.shape[0])/raw_data.shape[0],")")

    ### drop rows with duration,distance and total fare = 0
    df_no_zero = df_no_large[(df_no_large['Trip Seconds'] > 30) & (df_no_large['Trip Miles'] > 0.05) & (df_no_large['Trip Total'] > 3)]
    if(verbose): 
        print("Total rows dropped to remove zeroes = ", (df_no_large.shape[0]-df_no_zero.shape[0]), "(% = ", 100.0*(df_no_large.shape[0]-df_no_zero.shape[0])/raw_data.shape[0],")")
    
    clean_data = df_no_zero
    return clean_data

print("Initial number of rows :", df_csv.shape[0])
df_clean =  cleanData(df_csv)
print("Final number of rows :", df_clean.shape[0])

Initial number of rows : 2148174
Final number of rows : 1797573

In [7]:
# save cleaned data
df_clean.to_csv('cleaned_data.csv')